<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css"
        />
        <link rel="stylesheet" href="./css/main.css" type="text/css" />
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
        <title>Brando Endona</title>
    </head>
    <body>
        <div class="container">
            <div class="hamburger-nav ">
                <div class="nav-links">
                    <a class="nav-link" href="#landing">Home</a>

                    <a class="nav-link" href="#projects">Projects</a>
                    <a class="nav-link" href="#about">About Me</a>
                    <a class="nav-link" href="#contact">Contact Me</a>
                    <a class="cta" id="cv-btn" href="dummy.pdf" target="_blank"
                        >My CV</a
                    >
                </div>
            </div>
            <div class="hamburger-btn">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <nav>
                <div class="nav-links">
                    <a class="nav-link" href="#">Home</a>
                    <a class="nav-link" href="#projects">Projects</a>
                    <a class="nav-link" href="#about">About Me</a>
                    <a class="nav-link" href="#contact">Contact Me</a>
                    <a class="cta" id="cv-btn" href="/my-cv" target="_blank"
                        >My CV</a
                    >
                </div>
            </nav>
            <!-- script: config for hamburger nav -->
            <script
                src="./js/index.js"
                rel="javascript"
                type="text/javascript"
            ></script>
            <section id="landing">
                <div class="landing-image">
                    <div class="overlay-dark"></div>
                </div>
                <div class="landing-text">
                    <h1>
                        <span data-aos="fade-right" data-aos-duration="2000"
                            >Brando</span
                        ><span data-aos="fade-left" data-aos-duration="2000">
                            Endona</span
                        >
                    </h1>
                    <p>&lt; Full Stack Web Developer/&gt; ___</p>
                    <a class="hire-btn" href="#contact">HIRE ME</a>
                </div>
                <div class="find-me">
                    <p>Find me on:</p>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="devicon-twitter-plain"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="devicon-facebook-plain"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="devicon-github-plain"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </section>
            <main>
                <div id="particles-js"></div>
                <section id="projects">
                    <div class="projects-content">
                        <h1 class="title">
                            <span class="accent-purple">&lt;</span>
                            <span>Projects</span>
                            <span class="accent-purple">/&gt;</span>
                        </h1>
                        <div class="slider">
                            <i class="slider-arrow left"></i>
                            <i class="slider-arrow right"></i>
                            <figure class="slide-container">
                                <div class="slide">
                                    <div class="overlay-dark"></div>
                                    <p class="slide-title">QMeal</p>
                                    <div class="slide-image">
                                        <img
                                            src="./images/qmeal-min.jpg"
                                            alt="qmeal"
                                        />
                                    </div>
                                    <div class="slide-links">
                                        <a
                                            href="https://qmeal.herokuapp.com"
                                            class="slide-link"
                                            >Demo</a
                                        >
                                        <a
                                            href="https://github.com/brandoyts/qmeal"
                                            class="slide-link"
                                            >Source</a
                                        >
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="overlay-dark"></div>
                                    <p class="slide-title">React-GIF</p>
                                    <div class="slide-image">
                                        <img
                                            src="./images/react-gif-min.jpg"
                                            alt="React-GIF"
                                        />
                                    </div>
                                    <div class="slide-links">
                                        <a
                                            href="https://react-gif.herokuapp.com/"
                                            class="slide-link"
                                            >Demo</a
                                        >
                                        <a
                                            href="https://github.com/brandoyts/react-gif"
                                            class="slide-link"
                                            >Source</a
                                        >
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <a
                            href="https://github.com/brandoyts?tab=repositories"
                            class="view-all"
                        >
                            <i class="devicon-github-plain"></i>
                            View all projects
                        </a>
                    </div>
                    <script src="./js/slider.js"></script>
                </section>

                <section id="about">
                    <div class="about-content">
                        <div>
                            <h1 class="title">
                                <span class="accent-purple">&lt;</span>
                                <span>About Me</span>
                                <span class="accent-purple">/&gt;</span>
                            </h1>
                            <p>
                                I'm a 20 years old Full-Stack Web Developer from
                                Philippines.
                            </p>
                            <p>
                                My passion is all coding. I like the logic and
                                structure of coding and always strive to write
                                elegant and efficient code.
                            </p>
                            <p>
                                In terms of web designing, i enjoy taking
                                complex problems and taking them into simple and
                                beautiful UI designs.
                            </p>
                        </div>
                        <div class="skills">
                            <p>My Development Skills</p>
                            <div>
                                <i class="devicon-html5-plain-wordmark"></i>
                                <i class="devicon-css3-plain-wordmark"></i>
                                <i class="devicon-sass-original"></i>
                                <i class="devicon-javascript-plain"></i>
                                <i class="devicon-react-original-wordmark"></i>
                            </div>
                            <div>
                                <i class="devicon-nodejs-plain-wordmark"></i>
                                <i
                                    class="devicon-express-original-wordmark"
                                ></i>
                                <i class="devicon-mongodb-plain-wordmark"></i>
                                <i class="devicon-mysql-plain-wordmark"></i>
                                <i class="devicon-git-plain-wordmark"></i>
                            </div>
                        </div>
                        <div class="services">
                            <p>Comprehensive Services</p>
                            <div class="service-list">
                                <figure>
                                    <i class="lni-color-pallet"></i>
                                    <figcaption>Web Design</figcaption>
                                </figure>
                                <figure>
                                    <i class="lni-website"></i>
                                    <figcaption>
                                        Personal Website
                                    </figcaption>
                                </figure>
                                <figure>
                                    <i class="lni-database"></i>
                                    <figcaption>
                                        Database Management
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="contact">
                    <div class="form-container">
                        <div class="form-top">
                            <p>Send me an email</p>
                            <div class="contacts">
                                <p>You can also contact me on:</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="devicon-twitter-plain"></i
                                        ></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i
                                                class="devicon-facebook-plain"
                                            ></i
                                        ></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="devicon-github-plain"></i
                                        ></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <form action="/" method="POST">
                            <div class="form-group">
                                <label for="email">Your Email:</label>
                                <input
                                    type="text"
                                    placeholder="email address..."
                                    name="email"
                                />
                            </div>
                            <div class="form-group">
                                <label for="email">Subject:</label>
                                <input
                                    type="text"
                                    placeholder="subject..."
                                    ,
                                    name="subject"
                                />
                            </div>
                            <div class="form-group">
                                <label for="email">Your Message:</label>
                                <textarea
                                    name="message"
                                    id="message"
                                    placeholder="message..."
                                ></textarea>
                            </div>
                            <button class="cta" type="submit">Send</button>
                        </form>
                    </div>
                </section>
                <!-- </div> -->
                <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
                <script>
                    particlesJS.load("particles-js", "particles.json");
                </script>
            </main>
        </div>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
